$font-family: 'Cousine', monospace;
$font-size: 16px;

$background-colour: #242626;
$colour: #BDBDC1;
$primary: #333536;
$primary-dimmed: #585B5E;
$error: #AA2211;

$gutter-x: 1.5rem;
$gutter-y: 0;

$interact-padding-x: 0.8rem;
$interact-padding-y: 0.5rem;
